.about{
  background-color: rgb(32, 51, 58);
  height: 100vh;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.about article{
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about figure{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.about article img{
  width: 100px;
  margin-top: 30px;
  
}

.arrow{
  position: relative;
  top: -18px;
  transform: rotateZ(40deg);

}

@media (max-width: 430px){
  .about{
    width: 430px;
    height: 90vh;
  }

  .about article{
    width: 400px;
  }

  .arrow{
    top: -15px;
    transform: rotateZ(60deg);
    left: 20px;
  }

  .about article img{
    width: 60px;
  }
}

@media (min-width: 420px) and (orientation: landscape){
  .about{
    height: 750px;
    padding-top: 100px;
  }
}