.contacts{
  height: 100vh;
  background-color: rgb(20, 16, 24);
}

.contacts figure{
  display: flex;
  width: 1200px;
  justify-content: center;
  gap: 30px;
  
 
}

.contacts img{
  width: 100px;
  margin-top: 250px;
}

.contacts h3{
  padding-top: 150px;
  font-size: 35px;
  text-align: center;
}